header.cmtp {
  z-index: 999;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--couleur-secondaire);
  padding: 0.5rem;
  width: 100%;
}

header.cmtp .bandeau__child {
  height: 5rem;
}

header.cmtp .bandeau__child img.logoTxt {
  height: 5rem;
}

header.cmtp .bandeau__child img.logoSocialNetwork {
  height: 2.5rem;
}

header.cmtp .bandeau__child:nth-child(1) {
  height: 4rem;
  margin: 0.5rem;
}

header.cmtp .bandeau__child:nth-child(3) {
  /* en tant qu'enfant */
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  /* en tant que parent */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.cmtp .bandeau__child:nth-child(3) .tel {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  background-color: var(--couleur-secondaire);
  border-radius: 0.7rem;
  color: white;
}

nav.cmtp {
  overflow-x: hidden;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--couleur-secondaire);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1.5rem;
}

nav.cmtp div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.cmtp div ul li {
  list-style: none;
}

nav.cmtp div ul li:nth-last-child(1) {
  border: 3px solid red;
  color: #10B1B9;
}

nav.cmtp .forMobile {
  display: none;
}

nav.cmtp .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.cmtp a {
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: white;
  border-bottom: transparent 3px solid;
}

nav.cmtp a:hover {
  color: yellow;
}

nav.cmtp div {
  position: relative;
}

nav.cmtp .sub-menu {
  display: none;
  position: absolute;
  top: 1.8rem;
  background-color: var(--couleur-quaternaire);
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  opacity: 0.9;
}

nav.cmtp .sub-menu a {
  display: block;
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: white;
  border-bottom: var(--couleur-primaire) 3px solid;
}

nav.cmtp .sub-menu a:hover {
  color: yellow;
}

nav.cmtp #dropdown_cmtp___content a {
  border-bottom: var(--couleur-tertiaire) 3px solid;
}

nav.cmtp #menu-item-202:hover .sub-menu, nav.cmtp #dropdown_cmtp:hover .dropdown_content {
  display: block;
}

nav.cmtp #dropdown_cmtp {
  cursor: pointer;
}

nav.cmtp .underline {
  border-bottom: yellow 3px solid;
}

nav.cmtp .burger {
  display: none;
}

.section__cmtp {
  background-color: var(--couleur-secondaire);
  /* background: linear-gradient(90deg, #061f2cce 0%, var(--couleur-secondaire) 10%, var(--couleur-secondaire) 90%, #061f2cce 100%); */
  padding: 2rem;
  color: white;
  font-size: 1.2rem;
}

.section__cmtp h2 {
  text-align: center;
  margin: 2.5rem 0;
  color: red;
}

.section__cmtp .slide_gutemberg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5rem;
  font-size: 24px;
  /*             img{
                  max-width: 100%;
                  max-height: 50vh;
            } */
}

.section__cmtp .slide_gutemberg h3 {
  color: red;
}

.section__cmtp .slide_text {
  /*             p{
                  max-width: 40rem;
                  margin: auto;
            } */
}

.section__cmtp--1 {
  /* background: linear-gradient(90deg, #061f2cce 0%, var(--couleur-secondaire) 10%, var(--couleur-secondaire) 90%, #061f2cce 100%); */
  padding: 2rem;
  color: var(--couleur-secondaire);
  font-size: 1.2rem;
}

.section__cmtp--1 h2 {
  text-align: center;
  margin: 2.5rem 0;
  color: red;
}

.section__cmtp--1 .slide_gutemberg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  font-size: 5rem;
  font-size: 24px;
  /*             img{
                  max-width: 100%;
                  max-height: 50vh;
            } */
}

.section__cmtp--1 .slide_gutemberg h3 {
  color: red;
}

.section__cmtp--1 .slide_text {
  /*             p{
                  max-width: 40rem;
                  margin: auto;
            } */
}

.section__cmtp__form {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.section__cmtp__form .section__cmtp__form__child:nth-child(1) {
  margin: 1rem;
  padding-top: 2rem;
}

.section__cmtp__form .section__cmtp__form__child:nth-child(2) {
  background-color: var(--couleur-secondaire);
  color: white;
  padding-bottom: 2rem;
}

.section__cmtp__form .section__cmtp__form__child:nth-child(2) form {
  max-width: 25rem;
  margin: auto;
  padding: 0 1rem;
}

.section__cmtp__form .section__cmtp__form__child:nth-child(2) form input, .section__cmtp__form .section__cmtp__form__child:nth-child(2) form textarea {
  width: 100%;
  font-size: 1rem;
  font-family: 'ITCAvantGardePro-Md';
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.section__cmtp__form h2, .section__cmtp__form h3 {
  text-align: center;
  padding: 2rem 0;
  margin: 0;
}

.section__cmtp__form hr {
  background-color: #ff4040;
  border: none;
  height: 7px;
}

/* div.cmtp{
      background-color:var(--couleur-secondaire);
            h1{
                  color: white;
            }
            h2, h3{
                  color: red;
            }
            p{
                  color: white;
            }
} */
footer.cmtp {
  color: white;
}

footer.cmtp section:nth-child(1) {
  height: 5rem;
}

footer.cmtp section:nth-child(2) {
  height: 4rem;
  background-color: rgba(16, 177, 185, 0.2);
}

footer.cmtp section:nth-child(3) {
  background-color: var(--couleur-quaternaire);
  padding-top: 2rem;
}

footer.cmtp section:nth-child(4) {
  background-color: var(--couleur-secondaire);
  /* height: 4rem; */
}

footer.cmtp .footer__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 2rem;
}

footer.cmtp .footer__feuille {
  position: absolute;
  height: 28rem;
  top: -17rem;
}

footer.cmtp div:nth-child(odd) {
  padding-top: 2rem;
}

footer.cmtp .footer__container--horaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer.cmtp .footer__container--horaire span:nth-child(1) {
  color: var(--couleur-primaire);
  text-align: center;
}

footer.cmtp .footer__container--horaire span:nth-child(even) {
  color: var(--couleur-tertiaire);
}

footer.cmtp .padding {
  padding: 0.5rem;
}

footer.cmtp .footer__container--adresse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer.cmtp .footer__container--adresse img {
  height: 80px;
  width: 80px;
}

footer.cmtp .footer__container--adresse span:nth-child(2) {
  color: var(--couleur-primaire);
}

footer.cmtp .footer__container--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: white !important;
}

footer.cmtp .footer__container--contact img {
  height: 40px;
}

footer.cmtp .footer__container--contact a {
  text-decoration: none;
}

footer.cmtp .footer__container--contact a.footer__buttonContact {
  padding: 1rem;
  border: 3px solid yellow;
  color: white;
}

footer.cmtp .padding--spec {
  padding: 1.5rem;
}

footer.cmtp .footer__top--bleu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer.cmtp .footer__top--bleu a {
  color: white;
}

footer.cmtp .footer__top--bleu a {
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: white;
  border-bottom: transparent 3px solid;
}

footer.cmtp .footer__top--bleu a:hover {
  color: yellow;
}

footer.cmtp .footer__top--bleu div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.cmtp .footer__top--bleu div ul li {
  list-style: none;
}

footer.cmtp .footer__top--bleu div ul li:nth-last-child(1) {
  color: #10B1B9;
}

footer.cmtp .footer__top--bleu span:nth-child(3) {
  color: var(--couleur-primaire);
}

@media (max-width: 867px) {
  header.cmtp .bandeau__child:nth-child(1), header.cmtp .bandeau__child:nth-child(3) {
    display: none;
  }
  nav div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav div ul li {
    list-style: none;
  }
  nav.cmtp {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  nav.cmtp #dropdown_catalog:hover .dropdown_content, nav.cmtp #dropdown_cmtp:hover .dropdown_content {
    display: none;
  }
  nav.cmtp .menu {
    z-index: 999;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0.8rem;
    display: none;
  }
  nav.cmtp .menu .anav:nth-child(7) {
    margin-top: 1rem;
  }
  nav.cmtp .menu .forMobile {
    display: block;
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid var(--couleur-primaire);
    color: white;
  }
  nav.cmtp .menu .forMobile img {
    height: 4rem;
  }
  nav.cmtp .menu div {
    padding-bottom: 1rem;
  }
  nav.cmtp .menu div:nth-child(7) {
    margin-top: 2rem;
  }
  nav.cmtp .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--couleur-secondaire);
  }
  nav.cmtp .burger {
    margin: 1.5rem;
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav.cmtp .burger div {
    height: 0.5rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: white;
  }
  nav.cmtp .burger a {
    margin: 0;
    padding: 0;
  }
  nav.cmtp .burger--logo {
    margin: 0.5rem;
  }
  nav.cmtp .burger--logo img {
    height: 5rem;
  }
  nav.reset {
    position: static;
  }
}
/*# sourceMappingURL=cmtp.css.map */