header.cmtp {
  z-index: 999;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--couleur-secondaire);
  padding: 0.5rem;
  /* 
      width: 100%; */
}

header.cmtp .bandeau__child {
  height: 5rem;
}

header.cmtp .bandeau__child img.logoTxt {
  height: 5rem;
}

header.cmtp .bandeau__child img.logoSocialNetwork {
  height: 2.5rem;
}

header.cmtp .bandeau__child:nth-child(1) {
  height: 4rem;
  margin: 0.5rem;
}

header.cmtp .bandeau__child:nth-child(3) {
  /* en tant qu'enfant */
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  /* en tant que parent */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.cmtp .bandeau__child:nth-child(3) .tel {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  background-color: var(--couleur-secondaire);
  border-radius: 0.7rem;
  color: white;
}

.titre--cmtp {
  font-size: 4rem;
  font-weight: bold;
}

.diapo_border {
  border: solid 3px red;
}

nav.cmtp {
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--couleur-secondaire);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1.5rem;
}

nav.cmtp div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.cmtp div ul li {
  list-style: none;
}

nav.cmtp div ul #menu-item-200 {
  border: 3px solid red;
  color: white;
}

nav.cmtp .forMobile {
  display: none;
}

nav.cmtp .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.cmtp a {
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: white;
  border-bottom: transparent 3px solid;
}

nav.cmtp a:hover {
  color: red;
}

nav.cmtp div {
  position: relative;
}

nav.cmtp .sub-menu {
  display: none;
  position: absolute;
  top: 1.8rem;
  background-color: #061F2C;
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  opacity: 0.9;
}

nav.cmtp .sub-menu a {
  display: block;
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: white;
  border-bottom: red 3px solid;
}

nav.cmtp .sub-menu a:hover {
  color: red;
}

nav.cmtp #dropdown_cmtp___content a {
  border-bottom: var(--couleur-tertiaire) 3px solid;
}

nav.cmtp #menu-item-202:hover .sub-menu, nav.cmtp #dropdown_cmtp:hover .dropdown_content {
  display: block;
}

nav.cmtp #dropdown_cmtp {
  cursor: pointer;
}

nav.cmtp .burger {
  display: none;
}

.section__cmtp {
  padding: 2rem 1rem 1rem 1rem;
  color: var(--couleur-secondaire);
  font-size: 1.2rem;
}

.section__cmtp h1 {
  font-size: 3.5rem;
  color: var(--couleur-secondaire);
  text-underline-offset: 0.5rem;
}

.section__cmtp h2 {
  text-align: center;
  /* margin: 2.5rem 0; */
  color: red !important;
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
  font-size: 2rem;
}

.section__cmtp .slide_gutemberg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5rem;
  font-size: 24px;
}

.section__cmtp .slide_gutemberg h3 {
  color: red;
}

.section__cmtp--1 {
  /* padding: 2rem; */
  color: var(--couleur-secondaire);
  font-size: 1.2rem;
}

.section__cmtp--1 h2 {
  text-align: center;
  /* margin: 2.5rem 0; */
  color: red;
}

.section__cmtp--1 .slide_gutemberg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 5rem;
  font-size: 24px;
  background-color: var(--couleur-secondaire);
}

.section__cmtp--1 .slide_gutemberg h3 {
  color: red;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  text-decoration: none !important;
}

.section__cmtp--1 .slide_gutemberg p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white !important;
}

.section__cmtp__form {
  padding: 1rem 1rem 1rem 1rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__cmtp__form p {
  color: var(--couleur-secondaire);
}

.section__cmtp__form .submit_cmtp {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__cmtp__form form {
  background-color: var(--couleur-secondaire);
}

.section__cmtp__form form p {
  color: white !important;
}

.section__cmtp__form form input, .section__cmtp__form form textarea {
  padding: 0.4rem;
  margin: 0.4rem 0.3rem;
  background-color: var(--couleur-secondaire) !important;
}

.section__cmtp__form form input [type=submit], .section__cmtp__form form textarea [type=submit] {
  width: 10rem;
  margin-left: auto;
  background-color: var(--couleur-secondaire);
  border: white solid 1px !important;
  color: white !important;
  cursor: pointer;
  border: none;
}

.section__cmtp__form form input [type=submit]:focus, .section__cmtp__form form textarea [type=submit]:focus {
  background-color: white;
  color: var(--couleur-secondaire);
}

.section__cmtp__form form input:focus, .section__cmtp__form form textarea:focus {
  background-color: white;
}

h3 {
  color: white !important;
}

footer.cmtp {
  color: white;
}

footer.cmtp section:nth-child(1) {
  height: 5rem;
}

footer.cmtp section:nth-child(2) {
  height: 4rem;
  background-color: white;
}

footer.cmtp section:nth-child(3) {
  background-color: var(--couleur-secondaire);
  padding-top: 2rem;
}

footer.cmtp section:nth-child(4) {
  background-color: var(--couleur-secondaire);
  /* height: 4rem; */
}

footer.cmtp .footer__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 2rem;
}

footer.cmtp .footer__feuille {
  position: absolute;
  height: 28rem;
  top: -17rem;
}

footer.cmtp div:nth-child(odd) {
  padding-top: 2rem;
}

footer.cmtp .footer__container--horaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer.cmtp .footer__container--horaire span:nth-child(1) {
  text-align: center;
}

footer.cmtp .footer__container--horaire span:nth-child(1) p :nth-child(even) {
  color: red;
}

footer.cmtp .footer__container--horaire span:nth-child(even) {
  color: white !important;
}

footer.cmtp .footer__container--horaire span:nth-child(even) :nth-child(odd) {
  color: red;
}

footer.cmtp .padding {
  padding: 0.5rem;
}

footer.cmtp .footer__container--adresse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer.cmtp .footer__container--adresse img {
  width: 150px;
}

footer.cmtp .footer__container--adresse span {
  color: white !important;
}

footer.cmtp .footer__container--adresse span :nth-child(odd) {
  color: red;
}

footer.cmtp .footer__container--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: white !important;
}

footer.cmtp .footer__container--contact img {
  height: 40px;
}

footer.cmtp .footer__container--contact a {
  text-decoration: none;
}

footer.cmtp .footer__container--contact a.footer__buttonContact {
  padding: 1rem;
  border: 3px solid red;
  color: white;
}

footer.cmtp .padding--spec {
  padding: 1.5rem;
}

footer.cmtp .footer__top--bleu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer.cmtp .footer__top--bleu a {
  color: white;
}

footer.cmtp .footer__top--bleu #menu-item-217 a {
  color: red !important;
}

footer.cmtp .footer__top--bleu a {
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: white;
  border-bottom: transparent 3px solid;
}

footer.cmtp .footer__top--bleu a:hover {
  color: red;
}

footer.cmtp .footer__top--bleu div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.cmtp .footer__top--bleu div ul li {
  list-style: none;
}

footer.cmtp .footer__top--bleu div ul li:nth-last-child(1) {
  color: #10B1B9;
}

footer.cmtp .footer__top--bleu span:nth-child(3) {
  color: var(--couleur-primaire);
}

@media (max-width: 867px) {
  header.cmtp {
    display: none !important;
  }
  .titre--cmtp {
    font-size: 3rem;
    font-weight: bold;
  }
  h1 {
    font-size: 2rem !important;
    color: var(--couleur-secondaire);
    -webkit-text-decoration-color: var(--couleur-tertiaire);
            text-decoration-color: var(--couleur-tertiaire);
    text-underline-offset: 0.5rem;
  }
  h2 {
    text-align: center;
    /* margin: 2.5rem 0; */
    color: red;
    -webkit-text-decoration-line: none !important;
            text-decoration-line: none !important;
    font-size: 1.5rem !important;
  }
  header.cmtp .bandeau__child:nth-child(1), header.cmtp .bandeau__child:nth-child(3) {
    display: none;
  }
  nav.cmtp {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  nav.cmtp .menu {
    z-index: 999;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0.8rem;
    display: none;
  }
  nav.cmtp .menu .current_page {
    margin-bottom: 1rem;
    /* span{
                              color:var(--couleur-tertiaire)
                        } */
  }
  nav.cmtp .menu .current_page p {
    color: red;
  }
  nav.cmtp .menu .anav:nth-child(7) {
    margin-top: 1rem;
  }
  nav.cmtp .menu .forMobile {
    display: block;
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid var(--couleur-primaire);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--couleur-secondaire);
  }
  nav.cmtp .menu .forMobile span#trait {
    width: 50%;
    height: 5px;
    background-color: red;
    text-align: center;
  }
  nav.cmtp .menu .forMobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav.cmtp .menu .forMobile ul li {
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  nav.cmtp .menu .forMobile ul li:nth-last-child(1) {
    border: 3px solid red;
  }
  nav.cmtp .menu .forMobile img {
    height: 4rem;
  }
  nav.cmtp .menu div {
    padding-bottom: 1rem;
  }
  nav.cmtp .menu div:nth-child(7) {
    margin-top: 2rem;
  }
  nav.cmtp .menu a {
    padding: 0.5rem;
    margin: 0 0.5rem;
    color: white;
    border-bottom: transparent 3px solid;
  }
  nav.cmtp .menu a:active {
    color: red;
  }
  nav.cmtp #menu-item-202:hover .sub-menu, nav.cmtp #dropdown_cmtp:hover .dropdown_content {
    display: none;
  }
  nav.cmtp .sub-menu {
    display: none !important;
  }
  nav.cmtp .burger {
    margin: 1.5rem;
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav.cmtp .burger div {
    height: 0.5rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: white;
  }
  nav.cmtp .burger a {
    margin: 0;
    padding: 0;
  }
  nav.cmtp .burger--logo img {
    height: 3rem;
  }
  nav.cmtp nav.reset {
    position: static;
  }
  nav.cmtp span#close {
    color: red;
    font-size: 56px;
    font-weight: bold;
  }
  nav.cmtp span#close:active {
    color: red;
  }
  nav.cmtp .tel {
    color: red;
  }
  .section__cmtp--1 {
    padding: 0rem !important;
    color: var(--couleur-secondaire);
    font-size: 1.2rem;
  }
  .section__cmtp--1 .slide_gutemberg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 5rem;
    font-size: 24px;
    background-color: var(--couleur-secondaire);
  }
  .section__cmtp--1 .slide_gutemberg h3 {
    color: red;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2rem;
  }
  .section__cmtp--1 .slide_gutemberg p {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white !important;
    font-size: 18px;
  }
}
/*# sourceMappingURL=cmtp.css.map */