header.cmtp {
  z-index: 999;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--couleur-secondaire);
  padding: 0.5rem;
  width: 100%;
}

header.cmtp .bandeau__child {
  height: 5rem;
}

header.cmtp .bandeau__child img.logoTxt {
  height: 5rem;
}

header.cmtp .bandeau__child img.logoSocialNetwork {
  height: 2.5rem;
}

header.cmtp .bandeau__child:nth-child(1) {
  height: 4rem;
  margin: 0.5rem;
}

header.cmtp .bandeau__child:nth-child(3) {
  /* en tant qu'enfant */
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  /* en tant que parent */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.cmtp .bandeau__child:nth-child(3) .tel {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  background-color: var(--couleur-secondaire);
  border-radius: 0.7rem;
  color: white;
}

nav.cmtp {
  overflow-x: hidden;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--couleur-secondaire);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1.5rem;
}

nav.cmtp div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.cmtp div ul li {
  list-style: none;
}

nav.cmtp div ul li:nth-last-child(1) {
  border: 3px solid red;
  color: #10B1B9;
}

nav.cmtp .forMobile {
  display: none;
}

nav.cmtp .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.cmtp a {
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: white;
  border-bottom: transparent 3px solid;
}

nav.cmtp a:hover {
  color: yellow;
}

nav.cmtp div {
  position: relative;
}

nav.cmtp .sub-menu {
  display: none;
  position: absolute;
  top: 1.8rem;
  background-color: var(--couleur-quaternaire);
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  opacity: 0.9;
}

nav.cmtp .sub-menu a {
  display: block;
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: white;
  border-bottom: var(--couleur-primaire) 3px solid;
}

nav.cmtp .sub-menu a:hover {
  color: yellow;
}

nav.cmtp #dropdown_cmtp___content a {
  border-bottom: var(--couleur-tertiaire) 3px solid;
}

nav.cmtp #menu-item-202:hover .sub-menu, nav.cmtp #dropdown_cmtp:hover .dropdown_content {
  display: block;
}

nav.cmtp #dropdown_cmtp {
  cursor: pointer;
}

nav.cmtp .underline {
  border-bottom: yellow 3px solid;
}

nav.cmtp .burger {
  display: none;
}

div.cmtp {
  background-color: var(--couleur-secondaire);
}

div.cmtp h1 {
  color: white;
}

div.cmtp h2, div.cmtp h3 {
  color: red;
}

div.cmtp p {
  color: white;
}

footer.cmtp {
  color: white;
}

footer.cmtp section:nth-child(1) {
  height: 5rem;
}

footer.cmtp section:nth-child(2) {
  height: 4rem;
  background-color: rgba(16, 177, 185, 0.2);
}

footer.cmtp section:nth-child(3) {
  background-color: var(--couleur-quaternaire);
  padding-top: 2rem;
}

footer.cmtp section:nth-child(4) {
  background-color: var(--couleur-secondaire);
  /* height: 4rem; */
}

footer.cmtp .footer__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 2rem;
}

footer.cmtp .footer__feuille {
  position: absolute;
  height: 28rem;
  top: -17rem;
}

footer.cmtp div:nth-child(odd) {
  padding-top: 2rem;
}

footer.cmtp .footer__container--horaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer.cmtp .footer__container--horaire span:nth-child(1) {
  color: var(--couleur-primaire);
  text-align: center;
}

footer.cmtp .footer__container--horaire span:nth-child(even) {
  color: var(--couleur-tertiaire);
}

footer.cmtp .padding {
  padding: 0.5rem;
}

footer.cmtp .footer__container--adresse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer.cmtp .footer__container--adresse img {
  height: 80px;
  width: 80px;
}

footer.cmtp .footer__container--adresse span:nth-child(2) {
  color: var(--couleur-primaire);
}

footer.cmtp .footer__container--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: white !important;
}

footer.cmtp .footer__container--contact img {
  height: 40px;
}

footer.cmtp .footer__container--contact a {
  text-decoration: none;
}

footer.cmtp .footer__container--contact a.footer__buttonContact {
  padding: 1rem;
  border: 3px solid yellow;
  color: white;
}

footer.cmtp .padding--spec {
  padding: 1.5rem;
}

footer.cmtp .footer__top--bleu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer.cmtp .footer__top--bleu a {
  color: white;
}

footer.cmtp .footer__top--bleu a {
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: white;
  border-bottom: transparent 3px solid;
}

footer.cmtp .footer__top--bleu a:hover {
  color: yellow;
}

footer.cmtp .footer__top--bleu div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.cmtp .footer__top--bleu div ul li {
  list-style: none;
}

footer.cmtp .footer__top--bleu div ul li:nth-last-child(1) {
  color: #10B1B9;
}

footer.cmtp .footer__top--bleu span:nth-child(3) {
  color: var(--couleur-primaire);
}
/*# sourceMappingURL=cmtp.css.map */