:root {
	--couleur-primaire: #10b1b9;
	--couleur-secondaire: #061f2c;
	--couleur-tertiaire: #fecf34;
	--couleur-quaternaire: #074559;
}

footer {
	.footer__logoSocialNetwork{
		margin-top: 1rem;
	}
	color: white;
	p{
		font-size: 18px;
	}
	section:nth-child(2) {
		height: 4rem;
		background-color: rgba(16, 177, 185, 0.2);
	}
	section:nth-child(3) {
		background-color: var(--couleur-quaternaire);
		padding-top: 2rem;
	}
	section:nth-child(4) {
		background-color: var(--couleur-secondaire);
		/* height: 4rem; */
	}
	.footer__container {
		position: relative;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-bottom: 2rem;
	}
	.footer__feuille {
		position: absolute;
		height: 28rem;
		top: -17rem;
	}
/* 	div:nth-child(odd) {
		padding-top: 2rem;
	} */
	.footer__container--horaire {
		display: flex;
		flex-direction: column;
	}

	.footer__container--horaire span:nth-child(1) {
		color: var(--couleur-primaire);
		text-align: center;
	}
	.footer__container--horaire span {
		color: white!important;
			  & :nth-child(odd){
					color: var(--couleur-tertiaire);
			  }
	}
	.padding {
		padding: 0.5rem;
	}
	.footer__container--adresse {
		display: flex;
		flex-direction: column;
		text-align: center;
		img {
			height: 80px;
			width: 80px;
		}
		span {
			color: white!important;
				  & :nth-child(odd){
						color: var(--couleur-primaire);
				  }
  }
	}
	.footer__container--contact {
		display: flex;
		flex-direction: column;
		text-align: center;
		color: white !important;
		img {
			height: 80px;
			border: white 2px solid;
			border-radius: 50%;
		}
		a {
			text-decoration: none;
		}

		a.footer__buttonContact {
			padding: 1rem;
			border: 3px solid var(--couleur-tertiaire);
			color: white;
		}
		a.footer__buttonContact:hover {
			padding: 1rem;
			border: 3px solid var(--couleur-primaire);
			color: var(--couleur-primaire);
		}
	}
	.padding--spec {
		padding: 1.5rem;
	}
	.footer__top--bleu {
		display: flex;
		padding: 1rem 1rem 1rem 1rem;
		align-items: center;
		justify-content: center;
		a{
			color: white;
		}
	}
	.footer__top--bleu  {
		a{
            padding: 0.5rem;
            margin: 0 0.5rem;
            color: white;
            border-bottom: transparent 3px solid;
				a:nth-last-child(1){
					color: #10B1B9;
				}
      }
      a:hover{
            color: var(--couleur-tertiaire);
		}

	div{
		 ul{
						
			display: flex;
					 li{
							list-style: none;		  
							  }
							  
				  }
			}
			
	}

	.footer__top--bleu span:nth-child(3) {
		color: var(--couleur-primaire);
	}#menu-item-217{
		a{
			color:var(--couleur-primaire);
		}
		a:hover{
			text-decoration: underline;
			color: var(--couleur-tertiaire);
		}
}
}
footer.cmtp {
	.footer__logoSocialNetwork{
		margin-top: 1rem;
	}
	color: white;
	p{
		font-size: 18px;
	}
	section:nth-child(2) {
		height: 0rem;
		background-color: rgba(16, 177, 185, 0.2);
	}
	section:nth-child(3) {
		background-color: var(--couleur-secondaire);
		padding-top: 2rem;
	}
	section:nth-child(4) {
		background-color: var(--couleur-secondaire);
		/* height: 4rem; */
	}
	.footer__container {
		position: relative;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-bottom: 2rem;
	}

	.footer__container--horaire {
		display: flex;
		flex-direction: column;
	}

	.footer__container--horaire span:nth-child(1) {
		color: var(--couleur-primaire);
		text-align: center;
	}
	.footer__container--horaire span {
		color: white!important;
			  & :nth-child(odd){
					color: var(--couleur-5);
			  }
	}
	.padding {
		padding: 0.5rem;
	}
	.footer__container--adresse--cmtp {
		display: flex;
		flex-direction: column;
		text-align: center;
		img {
			height: 80px;
		}
		span {
			color: white!important;
				  & :nth-child(odd){
						color: var(--couleur-5);
				  }
  }
	}
	.footer__container--contact {
		display: flex;
		flex-direction: column;
		text-align: center;
		color: white !important;
		img {
			height: 80px;
			border: white 2px solid;
			border-radius: 50%;
		}
		a {
			text-decoration: none;
		}

		a.footer__buttonContact {
			padding: 1rem;
			border: 3px solid var(--couleur-5);
			color: white;
		}
		a.footer__buttonContact:hover {
			padding: 1rem;
			color: var(--couleur-5);
		}
	}
	.padding--spec {
		padding: 1.5rem;
	}
	.footer__top--bleu {
		display: flex;
		padding: 1rem 1rem 1rem 1rem;
		align-items: center;
		justify-content: center;
		a{
			color: white;
		}
	}
	.footer__top--bleu  {
		a{
            padding: 0.5rem;
            margin: 0 0.5rem;
            color: white;
            border-bottom: transparent 3px solid;
				a:nth-last-child(1){
					color: var(--couleur-5);
				}
      }
      a:hover{
            color: var(--couleur-5);
		}

	div{
		 ul{
						
			display: flex;
					 li{
							list-style: none;		  
							  }
							  
				  }
			}
	  
	}

	.footer__top--bleu span:nth-child(3) {
		color: var(--couleur-primaire);
	}#menu-item-217{
		a{
			color:var(--couleur-5);
		}
		a:hover{
			text-decoration: underline;
		}
}

	
}






@media (max-width: 867px) {
	footer {
		font-size: 1rem;
		section:nth-child(1) {
			display: none;
		}
		.footer__feuille {
			display: none;
		}
		
		.footer__container {
			flex-wrap: wrap;
			display: flex;
			justify-content: space-evenly;
			padding-bottom: 1rem;
			div:nth-child(odd) {
				padding-top: 0!important;
			}
		}

		.footer__container--horaire {
			display: flex;
			flex-direction: column;
			text-align: center;
			padding-bottom: 1rem;
		}
		.footer__container--adresse {
			padding-bottom: 1rem;
		}
		
		.footer__top--bleu {
			display: flex;
			flex-wrap: wrap;
			a{
				padding: 0.5rem;
				margin: 0 0.5rem;
				color: white;
				border-bottom: transparent 3px solid;
		  }
		  a:active{
				color: var(--couleur-tertiaire);}
				div{
					  ul{
							
							display: flex;
							flex-wrap: wrap;
							
								  li{
										list-style: none;
										padding-top: 5px;
										padding-bottom: 5px;		  
								  }
					  }
				}
		}
	}
	footer.cmtp {
		font-size: 1rem;
		section:nth-child(1) {
			display: none;
		}
		.footer__feuille {
			display: none;
		}
		
		.footer__container {
			flex-wrap: wrap;
			display: flex;
			justify-content: space-evenly;
			padding-bottom: 1rem;
			div:nth-child(odd) {
				padding-top: 0!important;
			}
		}

		.footer__container--horaire {
			display: flex;
			flex-direction: column;
			text-align: center;
			padding-bottom: 1rem;
		}
		.footer__container--adresse {
			padding-bottom: 1rem;
		}
		.footer__top--bleu {
			display: flex;
			flex-wrap: wrap;
			a{
				padding: 0.5rem;
				margin: 0 0.5rem;
				color: white;
				border-bottom: transparent 3px solid;
		  }
		  a:active{
				color: var(--couleur-tertiaire);}
				div{
					  ul{
							
							display: flex;
							flex-wrap: wrap;
							
								  li{
										list-style: none;
										padding-top: 5px;
										padding-bottom: 5px;		  
								  }
					  }
				}
		}
	}
}
