section.front_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top:3rem;
    padding-bottom: 3rem;
    background-color: rgba(16, 177, 185, 0.20);
        
        h2{
            font-size: 3rem;
            color: var(--couleur-primaire);
              text-decoration-line: underline;
            text-decoration-style: wavy;
            text-decoration-color: var(--couleur-tertiaire);
            text-underline-offset: 0.5rem;
        }
        h3{
            font-size: 2rem;
            color: var(--couleur-primaire);
              text-decoration-line: underline;
                text-decoration-style: wavy;
                text-decoration-color: var(--couleur-tertiaire);
                text-underline-offset: 0.5rem;
        }
        img{
            padding: 1.5rem 0 1.5rem 01.5rem;
        }
        p{
            width: 70%;
            font-size: 24px;
            line-height: 36px; 
            padding: 2rem 0 0 2rem;

        }
        button{
            width: 595px;
            height: 55px;
            left: 296px;
            top: 1437px;
                        text-shadow: 2px 2px 2px white;
             background: var(--couleur-primaire);
             border: 8px solid var(--couleur-secondaire);
            border-radius: 14px;


        }
        button:hover{
            cursor: pointer;
            width: 595px;
            height: 55px;
            left: 296px;
            top: 1437px;

                    background: #FFFFFF;
                    border: 8px solid #FECF34;
                    border-radius: 14px;
        }
            &:nth-child(1){
                background-color: rgba(16, 177, 185, 0.20) !important;}
            &:nth-child(3){
                background-color: white !important;}

                    .container {
                        width: 80%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                            & div{
                                width: 33%;
                            }
                }


 }
section.front_page--2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top:3rem;
    padding-bottom: 3rem;
    background-color:white;
        
        h2{
            font-size: 3rem;
            color: var(--couleur-primaire);
              text-decoration-line: underline;
            text-decoration-style: wavy;
            text-decoration-color: var(--couleur-tertiaire);
            text-underline-offset: 0.5rem;
        }
        h3{
            font-size: 2rem;
            color: var(--couleur-primaire);
              text-decoration-line: underline;
                text-decoration-style: wavy;
                text-decoration-color: var(--couleur-tertiaire);
                text-underline-offset: 0.5rem;
        }
        img{
            padding: 1.5rem 0 1.5rem 01.5rem;
        }
        p{
            width: 70%;
            font-size: 24px;
            line-height: 36px; 
            padding: 2rem 0 0 2rem;

        }
        button{
            width: 595px;
            height: 55px;
            left: 296px;
            top: 1437px;
                        text-shadow: 2px 2px 2px white;
             background: var(--couleur-primaire);
             border: 8px solid var(--couleur-secondaire);
            border-radius: 14px;


        }
        button:hover{
            cursor: pointer;
            width: 595px;
            height: 55px;
            left: 296px;
            top: 1437px;

                    background: #FFFFFF;
                    border: 8px solid #FECF34;
                    border-radius: 14px;
        }
            &:nth-child(1){
                background-color: rgba(16, 177, 185, 0.20) !important;}
            &:nth-child(3){
                background-color: white !important;}

                    .container {
                        width: 80%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                            & div{
                                width: 33%;
                            }
                }


 }

