@charset "UTF-8";
.main__container--cmtp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__container--cmtp section.header--cmtp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  /* height: 70vh; */
  background-size: cover;
  background-position: center;
}

.main__container--cmtp .header--cmtp h1 {
  color: white;
  font-size: 3rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.main__container--cmtp .container__bandeau--cmtp {
  color: white;
  font-size: 1.5rem;
  width: 100%;
  height: 20rem;
  background-color: rgba(7, 69, 89, 0.4);
  padding-top: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: bold;
}

.main__container--cmtp .container__bandeau--cmtp img {
  position: absolute;
  width: 27rem;
  top: -0.5rem;
}

.main__container--cmtp .container__bandeau--2--cmtp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-auto-flow: row;
      grid-template-areas: "texte carré";
}

.main__container--cmtp .texte--cmtp {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: texte;
  width: 100%;
  text-align: right;
  font-size: 2.4rem;
  padding: 1rem;
}

.main__container--cmtp .carré--cmtp {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: carré;
  padding: 2rem 2rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__container--cmtp div.texte--cmtp h2:nth-child() {
  padding-top: 1rem;
}

.main__container--cmtp div.texte--cmtp h2:nth-child(even) {
  color: var(--couleur-tertiaire);
}

.main__container--cmtp span#carré--cmtp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 2rem 2rem 2rem;
  background-color: var(--couleur-secondaire);
  font-size: 24px;
  color: white !important;
  /*  position: relative; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__container--cmtp span#carré p {
  padding-top: 2rem;
}

@media (max-width: 867px) {
  .titre--cmtp {
    font-size: 2.5rem !important;
  }
  .main__container--cmtp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__container--cmtp section:nth-child(2) {
    background-color: var(--couleur-primaire);
  }
  .main__container--cmtp section.header--cmtp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main__container--cmtp .header--cmtp h1 {
    color: white;
    font-size: 3rem;
    padding: 2rem;
    margin: 0;
  }
  .main__container--cmtp .container__bandeau--cmtp {
    color: white;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 69, 89, 0.4);
    padding-top: 1rem;
    position: relative;
  }
  .main__container--cmtp .container__bandeau--cmtp img {
    display: none;
  }
  .main__container--cmtp .container__bandeau--2--cmtp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__container--cmtp .texte--cmtp {
    width: 100%;
    text-align: right;
    font-size: 1rem;
    padding: 0 !important;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__container--cmtp .carré--cmtp {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0 0 0;
  }
  .main__container--cmtp div.texte--cmtp h2 {
    padding-top: 1rem;
  }
  .main__container--cmtp div.texte--cmtp h2:nth-child(even) {
    color: var(--couleur-tertiaire);
  }
  .main__container--cmtp span#carré--cmtp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--couleur-secondaire);
    font-size: 0.9rem;
    color: white !important;
    position: relative;
  }
  .main__container--cmtp span#carré--cmtp p {
    padding-top: 1rem;
  }
}

header {
  z-index: 999;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
}

header .bandeau__child {
  height: 5rem;
}

header .bandeau__child img.logoTxt {
  height: 5rem;
}

header .bandeau__child img.logoSocialNetwork {
  height: 2.5rem;
}

header .bandeau__child:nth-child(1) {
  height: 4rem;
  margin: 0.5rem;
}

header .bandeau__child:nth-child(3) {
  /* en tant qu'enfant */
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      align-self: center;
  /* en tant que parent */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .tel {
  background-color: var(--couleur-primaire);
  /* height: auto; */
  border-radius: 35px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

header .tel p {
  font-size: 18px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

@media (max-width: 867px) {
  header {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  header .bandeau__child:nth-child(1), header .bandeau__child:nth-child(3) {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */