strong{
    font-weight: 700;
    color: var(--couleur-primaire);
}
section.produits{

    h2{
        font-size: 1.5rem!important;
    }
    z-index: 99;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    background: white;

    p.texte_produit{
        
            width: 80% !important;
            text-align: center !important;
            
                
        
           
    
    }

        div.wp-block-media-text {
            display: flex;
            flex-direction: column;
            width: 20%;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 1rem;
            padding-top: 1rem;
            padding-bottom: 2rem;
            margin: 2rem 5rem 5rem 5rem;
            background-color: rgba(16, 176, 185, 0.22);
            border: solid 2px var(--couleur-primaire);
        }
        div.wp-block-media-text__content{
            p{
                width: 100%;
                margin: auto;
                /* padding: 1.5rem 1.5rem 1.5rem 1.5rem; */
                text-align: center;
            }.wp-img{
                img{
                    border: solid red 2px;
                }
            }
        
            
        }
   
            
}
.back{
    text-align: center;
    padding-bottom: 1.5rem;
}
@media (max-width:867px) {
    section.produits{
        h2{
            font-size: 1.5rem!important;
        }
        div.wp-block-media-text {
            display: flex;
            flex-direction: column;
            width:100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 1rem;
            padding-top: 1rem;
            padding-bottom: 2rem;
            margin: 2rem 1rem 1rem 1rem;
            background-color: rgba(16, 177, 185, 0.20);
            border: solid 2px var(--couleur-primaire);
        }
        div.wp-block-media-text__content{
            p{
                width: 100%;
                margin: auto;
                /* padding: 1.5rem 1.5rem 1.5rem 1.5rem; */
                text-align: center;
            }
            img{
                width: 80%;
                height: 50%;
                margin: auto; 
                border: var(--couleur-tertiaire) 2px solid;
            }
        }
    }
    

}