.scrollForm{
      overflow: hidden !important;
}
#contact--1,#contact--2{
      cursor: pointer;
}
section.form{
      display: none;
}
section.show{
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      overflow: auto;
      width: 100%;
      height: 100%;
      z-index: 200000;
      border: 1px solid red;
      .txt{
            background-color: var(--couleur-primaire);
            overflow: auto;
            margin: auto;
            z-index: 200000;
            padding: 2rem;
            color: white;
            width: auto;
            border: 1px solid green;
            h1{
                  text-align: center;
            }
            .txt_flex{
                  display: flex;
                  flex-wrap: wrap-reverse;
                  justify-content: space-around;
                  #submit{
                        margin: auto;
                  }
                  .txt_flex__child{
                        max-width: 25rem;
                        iframe{
                              width: 100%;
                              height: 15rem;
                        }
                        form{
                              display: flex;
                              flex-wrap: wrap;
                              justify-content: space-between;
                              .form__child{
                                    width: 17rem;
                                    min-width: 17rem;
                                    max-width: 17rem;
                                    padding: 0rem;
                                    flex: 1;
                                    input[type="text"],input[type="email"],input[type="tel"],textarea{
                                         background-color: transparent; 
                                         border: 2px solid white;
                                    }
                                    input[type="submit"]{
                                          background-color: var(--couleur-secondaire);
                                          border: none;
                                    }
                                    input, textarea{
                                          padding-bottom: 0.5rem;
                                          color: white;
                                          font-family: 'ITCAvantGardePro-Md';
                                          padding: 0.5rem;
                                          margin: 0;
                                          margin-top: 1rem;
                                          width: 16rem;
                                          min-width: 16rem;
                                          max-width: 16rem;
                                    }
                                    textarea{
                                          height: 8rem;
                                    }
                              }
                        }
                  }
                  .txt_flex__child:nth-child(1){
                        flex: 4;
                        max-width: none;
                        margin-right: 25px;
                  }
            }
            
            #close{
                  color: var(--couleur-secondaire);
                  cursor: pointer;
                  display: block;
                  text-align: right;
                  font-weight: bolder;
            }
            #close2{
                  display: none;
            }
      }
}

@media (max-width:867px) {
      section.show{
            .txt{
                  h1,h2{
                        display: none;
                  }
                  .txt_flex{
                        width: 100%;
                        .txt_flex__child{
                              p{
                                    display: none;
                              }
                              form{
                                    justify-content: space-around;
                                    .form__child{
                                          min-width: none;
                                          width: 100%;
                                          padding: 0;
                                          input, textarea{
                                                width:100%;
                                          }
                                    }
                              }
                        }
                        .txt_flex__child:nth-child(1){
                              margin-right: 0;
                        }
                  }
                  #close{
                        display: none;
                  }
                  #close2{
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: rgb(255, 130, 130);
                        background-color: black;
                        font-size: 2rem;
                        cursor: pointer;
                        padding: 0;
                  }
            }
      }
}