.scrollForm {
  overflow: hidden !important;
}

#contact--1, #contact--2 {
  cursor: pointer;
}

section.form {
  display: none;
}

section.show {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 200000;
  border: 1px solid red;
}
section.show .txt {
  background-color: var(--couleur-primaire);
  overflow: auto;
  margin: auto;
  z-index: 200000;
  padding: 2rem;
  color: white;
  width: auto;
  border: 1px solid green;
}
section.show .txt h1 {
  text-align: center;
}
section.show .txt .txt_flex {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}
section.show .txt .txt_flex #submit {
  margin: auto;
}
section.show .txt .txt_flex .txt_flex__child {
  max-width: 25rem;
}
section.show .txt .txt_flex .txt_flex__child iframe {
  width: 100%;
  height: 15rem;
}
section.show .txt .txt_flex .txt_flex__child form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section.show .txt .txt_flex .txt_flex__child form .form__child {
  width: 17rem;
  min-width: 17rem;
  max-width: 17rem;
  padding: 0rem;
  flex: 1;
}
section.show .txt .txt_flex .txt_flex__child form .form__child input[type=text], section.show .txt .txt_flex .txt_flex__child form .form__child input[type=email], section.show .txt .txt_flex .txt_flex__child form .form__child input[type=tel], section.show .txt .txt_flex .txt_flex__child form .form__child textarea {
  background-color: transparent;
  border: 2px solid white;
}
section.show .txt .txt_flex .txt_flex__child form .form__child input[type=submit] {
  background-color: var(--couleur-secondaire);
  border: none;
}
section.show .txt .txt_flex .txt_flex__child form .form__child input, section.show .txt .txt_flex .txt_flex__child form .form__child textarea {
  padding-bottom: 0.5rem;
  color: white;
  font-family: "ITCAvantGardePro-Md";
  padding: 0.5rem;
  margin: 0;
  margin-top: 1rem;
  width: 16rem;
  min-width: 16rem;
  max-width: 16rem;
}
section.show .txt .txt_flex .txt_flex__child form .form__child textarea {
  height: 8rem;
}
section.show .txt .txt_flex .txt_flex__child:nth-child(1) {
  flex: 4;
  max-width: none;
  margin-right: 25px;
}
section.show .txt #close {
  color: var(--couleur-secondaire);
  cursor: pointer;
  display: block;
  text-align: right;
  font-weight: bolder;
}
section.show .txt #close2 {
  display: none;
}

@media (max-width: 867px) {
  section.show .txt h1, section.show .txt h2 {
    display: none;
  }
  section.show .txt .txt_flex {
    width: 100%;
  }
  section.show .txt .txt_flex .txt_flex__child p {
    display: none;
  }
  section.show .txt .txt_flex .txt_flex__child form {
    justify-content: space-around;
  }
  section.show .txt .txt_flex .txt_flex__child form .form__child {
    min-width: none;
    width: 100%;
    padding: 0;
  }
  section.show .txt .txt_flex .txt_flex__child form .form__child input, section.show .txt .txt_flex .txt_flex__child form .form__child textarea {
    width: 100%;
  }
  section.show .txt .txt_flex .txt_flex__child:nth-child(1) {
    margin-right: 0;
  }
  section.show .txt #close {
    display: none;
  }
  section.show .txt #close2 {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    color: #ff8282;
    background-color: black;
    font-size: 2rem;
    cursor: pointer;
    padding: 0;
  }
}/*# sourceMappingURL=form.css.map */