header {
  z-index: 999;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
}

header .bandeau__child {
  height: 5rem;
}

header .bandeau__child img.logoTxt {
  height: 5rem;
}

header .bandeau__child img.logoSocialNetwork {
  height: 2.5rem;
}

header .bandeau__child:nth-child(1) {
  height: 4rem;
  margin: 0.5rem;
}

header .bandeau__child:nth-child(3) {
  /* en tant qu'enfant */
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  /* en tant que parent */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .bandeau__child:nth-child(3) .tel {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  background-color: #10B1B9;
  border-radius: 0.7rem;
  color: white;
}

nav div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav div ul li {
  list-style: none;
}

nav div ul li:nth-last-child(1) {
  border: 3px solid yellow;
  color: #10B1B9;
}

nav {
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--couleur-quaternaire);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1.5rem;
}

nav .forMobile {
  display: none;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav a {
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: white;
  border-bottom: transparent 3px solid;
}

nav a:hover {
  color: yellow;
}

nav div {
  position: relative;
}

nav .dropdown_content {
  display: none;
  position: absolute;
  top: 1.8rem;
  background-color: var(--couleur-quaternaire);
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  opacity: 0.9;
}

nav .dropdown_content a {
  display: block;
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: white;
  border-bottom: var(--couleur-primaire) 3px solid;
}

nav .dropdown_content a:hover {
  color: yellow;
}

nav #dropdown_cmtp___content a {
  border-bottom: var(--couleur-tertiaire) 3px solid;
}

nav #dropdown_catalog:hover .dropdown_content, nav #dropdown_cmtp:hover .dropdown_content {
  display: block;
}

nav #dropdown_cmtp {
  cursor: pointer;
}

nav .underline {
  border-bottom: yellow 3px solid;
}

nav .burger {
  display: none;
}

.backToTop {
  display: none;
  position: fixed;
  right: 0;
  bottom: 5rem;
  width: 4rem;
  height: 4rem;
  background-color: #fecf3496;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  z-index: 1000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backToTop img {
  width: 2rem;
}

.backToTop:hover, .backToTop:active {
  background-color: #FECF34;
}

@media (max-width: 867px) {
  header .bandeau__child:nth-child(1), header .bandeau__child:nth-child(3) {
    display: none;
  }
  nav div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav div ul li {
    list-style: none;
  }
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  nav #dropdown_catalog:hover .dropdown_content, nav #dropdown_cmtp:hover .dropdown_content {
    display: none;
  }
  nav .menu {
    z-index: 999;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0.8rem;
    display: none;
  }
  nav .menu .anav:nth-child(7) {
    margin-top: 1rem;
  }
  nav .menu .forMobile {
    display: block;
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid var(--couleur-primaire);
    color: white;
  }
  nav .menu .forMobile img {
    height: 4rem;
  }
  nav .menu div {
    padding-bottom: 1rem;
  }
  nav .menu div:nth-child(7) {
    margin-top: 2rem;
  }
  nav .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--couleur-secondaire);
  }
  nav .burger {
    margin: 1.5rem;
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .burger div {
    height: 0.5rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: white;
  }
  nav .burger a {
    margin: 0;
    padding: 0;
  }
  nav .burger--logo {
    margin: 0.5rem;
  }
  nav .burger--logo img {
    height: 5rem;
  }
  nav.reset {
    position: static;
  }
}
/*# sourceMappingURL=header.css.map */