:root{
      --couleur-primaire:#10B1B9;
      --couleur-secondaire:#061F2C;
      --couleur-tertiaire:#FECF34;
      --couleur-quaternaire:#074559;
      
  }

@font-face {
      font-family: 'ITCAvantGardePro-Md';
      src: url('../fonts/ITCAvantGardePro-Md.otf');
}
html{
      font-size: 16px;
      scroll-behavior: smooth;
}
body{
      margin: 0;
      padding: 0;
      font-family: 'ITCAvantGardePro-Md';
}
a{
      text-decoration: none;
}

a.buttonContact{
      border: 3px solid yellow;
      color: #10B1B9;
}