section.about__page__form{
      form, h3, p{
            max-width: 50rem;
            margin: auto;
      }
      form{
            color: white;
            background-color: var(--couleur-primaire);
            padding: 0.5rem;
            h4{
                  text-align: center;
                  font-size: 1.5rem;
                  padding: 0.5rem;
            }
            .flex{
                  display: flex;
                  width: 100%;
                  flex-wrap: wrap;
                  .flexRight{
                        display: flex;
                        flex-wrap: wrap;
                        flex: 1;
                  }
                  .flexLeft{

                  }
                  .flex__child{
                        .flex__child__child{
                              display: flex;
                              flex-wrap: wrap;
                        }
                        .flexRight__p{
                              width: 100%;
                              padding-bottom: 1rem;
                              padding-right: 0.5rem;
                              padding-left: 0.5rem;
                        }
                        .flexRight__right, .flexRight__left{
                              width: 100%;
                              flex: 1;
                              padding-right: 0.5rem;
                        }
                        input[type="text"],input[type="email"],input[type="tel"],textarea{
                              background-color: transparent; 
                              border: 2px solid white;
                        }
                        input[type="submit"]{
                              background-color: var(--couleur-secondaire);
                              border: none;
                              margin-bottom: 0.5rem;
                        }
                        input, textarea{
                              padding-bottom: 0.5rem;
                              color: white;
                              font-family: 'ITCAvantGardePro-Md';
                              padding: 0.5rem;
                              margin: 0;
                              margin-top: 1rem;
                              width: 100%;
                              min-width: 16rem;
                        }
                        textarea{
                               height: 8rem;
                        }
                  }
                  .flexMap{
                        flex: 1;
                        text-align: center;
                  }
            }
      }
}