@charset "UTF-8";
.cmtp .main__container section.header {
  background-image: none;
}

.cmtp .main__container div.texte a:nth-child(2n) {
  color: white;
}

.cmtp .main__container div.texte a:nth-child(2n+1) {
  color: var(--couleur-secondaire);
}

.cmtp .main__container div.texte a:hover {
  color: #9e0000;
}

.cmtp .main__container #carré {
  width: 100%;
}

.cmtp .main__container .container__bandeau {
  background-color: rgba(255, 64, 64, 0.3);
}

.cmtp section {
  margin-top: 5rem;
}

.cmtp .section__cmtp {
  background-color: var(--couleur-secondaire);
  /* background: linear-gradient(90deg, #061f2cce 0%, var(--couleur-secondaire) 10%, var(--couleur-secondaire) 90%, #061f2cce 100%); */
  padding: 2rem;
  color: white;
  font-size: 1.2rem;
}

.cmtp .section__cmtp h2 {
  text-align: center;
  margin: 2.5rem 0;
}

.cmtp .section__cmtp .slide_gutemberg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 5rem;
}

.cmtp .section__cmtp .slide_gutemberg img {
  max-width: 100%;
  max-height: 50vh;
}

.cmtp .section__cmtp .slide_text p {
  max-width: 40rem;
  margin: auto;
}

.cmtp .section__cmtp__form {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.cmtp .section__cmtp__form .section__cmtp__form__child:nth-child(1) {
  margin: 1rem;
  padding-top: 2rem;
}

.cmtp .section__cmtp__form .section__cmtp__form__child:nth-child(2) {
  background-color: var(--couleur-secondaire);
  color: white;
  padding-bottom: 2rem;
}

.cmtp .section__cmtp__form .section__cmtp__form__child:nth-child(2) form {
  max-width: 25rem;
  margin: auto;
  padding: 0 1rem;
}

.cmtp .section__cmtp__form .section__cmtp__form__child:nth-child(2) form input, .cmtp .section__cmtp__form .section__cmtp__form__child:nth-child(2) form textarea {
  width: 100%;
  font-size: 1rem;
  font-family: 'ITCAvantGardePro-Md';
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.cmtp .section__cmtp__form h2, .cmtp .section__cmtp__form h3 {
  text-align: center;
  padding: 2rem 0;
  margin: 0;
}

.cmtp .section__cmtp__form hr {
  background-color: #ff4040;
  border: none;
  height: 7px;
}

footer.cmtp {
  color: white;
}

footer.cmtp section:nth-child(1) {
  height: 5rem;
}

footer.cmtp section:nth-child(2) {
  height: 4rem;
  background-color: var(--couleur-secondaire);
}

footer.cmtp section:nth-child(3) {
  background-color: var(--couleur-secondaire);
  padding-top: 2rem;
}

footer.cmtp section:nth-child(4) {
  background-color: var(--couleur-secondaire);
  /* height: 4rem; */
}

footer.cmtp .footer__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 2rem;
  background-color: var(--couleur-secondaire);
}

footer.cmtp .footer__feuille {
  position: absolute;
  height: 28rem;
  top: -17rem;
}

footer.cmtp div:nth-child(odd) {
  padding-top: 2rem;
}

footer.cmtp .footer__container--horaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer.cmtp .footer__container--horaire span:nth-child(1) {
  color: var(--couleur-primaire);
  text-align: center;
}

footer.cmtp .footer__container--horaire span:nth-child(even) {
  color: var(--couleur-tertiaire);
}

footer.cmtp .padding {
  padding: 0.5rem;
}

footer.cmtp .footer__container--adresse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer.cmtp .footer__container--adresse img {
  height: 80px;
  width: 80px;
}

footer.cmtp .footer__container--adresse span:nth-child(2) {
  color: var(--couleur-primaire);
}

footer.cmtp .footer__container--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: white !important;
}

footer.cmtp .footer__container--contact img {
  height: 40px;
}

footer.cmtp .footer__container--contact a {
  text-decoration: none;
}

footer.cmtp .footer__container--contact a.footer__buttonContact {
  padding: 1rem;
  border: 3px solid yellow;
  color: white;
}

footer.cmtp .padding--spec {
  padding: 1.5rem;
}

footer.cmtp .footer__top--bleu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer.cmtp .footer__top--bleu a {
  color: white;
}

footer.cmtp .footer__top--bleu a {
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: white;
  border-bottom: transparent 3px solid;
}

footer.cmtp .footer__top--bleu a:hover {
  color: yellow;
}

footer.cmtp .footer__top--bleu div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.cmtp .footer__top--bleu div ul li {
  list-style: none;
}

footer.cmtp .footer__top--bleu div ul li:nth-last-child(1) {
  color: #10B1B9;
}

footer.cmtp .footer__top--bleu span:nth-child(3) {
  color: var(--couleur-primaire);
}

@media (max-width: 867px) {
  .cmtp header .bandeau__child:nth-child(1) {
    display: block;
  }
  .cmtp header .bandeau__child:nth-child(2) {
    display: none;
  }
  .cmtp nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .cmtp nav .burger--logo {
    display: none;
  }
  .cmtp footer {
    font-size: 0.8rem;
  }
  .cmtp footer .footer__container--contact small a:active {
    color: #ff4040;
  }
  .cmtp footer span.padding {
    font-size: 1rem;
  }
  .cmtp .section__cmtp {
    padding-top: 3.8rem;
  }
}
/*# sourceMappingURL=page_cmtp.css.map */