.cmtp{
     
      .main__container{
            section.header{
                  background-image: none;
            }
            div.texte a:nth-child(2n){
                  color: white;
            }
            div.texte a:nth-child(2n+1){
                  color: var(--couleur-secondaire);
            }
            div.texte a:hover{
                  color: rgb(158, 0, 0);
            }
            #carré{
                  width: 100% ;
            }
              .container__bandeau{
                  background-color: rgba(255, 64, 64, 0.3);
      
                  
              }
      }
      section{
            margin-top: 5rem;
      }
      .section__cmtp{
            background-color: var(--couleur-secondaire);
            /* background: linear-gradient(90deg, #061f2cce 0%, var(--couleur-secondaire) 10%, var(--couleur-secondaire) 90%, #061f2cce 100%); */
            padding: 2rem;
            color: white;
            font-size: 1.2rem;
            h2{
                  text-align: center;
                  margin: 2.5rem 0;
            }
            .slide_gutemberg{
                  display: flex;
                  align-items: center;
                  justify-content: space-evenly;
                  font-size: 5rem;
                  img{
                        max-width: 100%;
                        max-height: 50vh;
                  }
            }
            .slide_text{
                  p{
                        max-width: 40rem;
                        margin: auto;
                  }
            }
      }
      .section__cmtp__form{
            padding: 0;
            background-color: rgba(255, 255, 255, 0.8);
            color: black;
            .section__cmtp__form__child:nth-child(1){
                  margin: 1rem;
                  padding-top: 2rem;
            }
            .section__cmtp__form__child:nth-child(2){
                  background-color: var(--couleur-secondaire);
                  color: white;
                  padding-bottom: 2rem;
                  form{
                        max-width: 25rem;
                        margin: auto;
                        padding: 0 1rem;
                        input,textarea{
                              width:100%;
                              font-size:1rem;
                              font-family: 'ITCAvantGardePro-Md';
                              margin: 0.5rem 0;
                              padding: 0.5rem;
                              border-radius: 5px;
                              border: none;
                        }
                  }
            }
            h2, h3{
                  text-align: center;
                  padding: 2rem 0;
                  margin: 0;
            }
            hr{
                  background-color: rgb(255, 64, 64);
                  border: none;
                  height: 7px;
            }
      }
}
footer.cmtp {
	color: white;

	section:nth-child(1) {
		height: 5rem;
	}
	section:nth-child(2) {
		height: 4rem;
		background-color: var(--couleur-secondaire);
	}
	section:nth-child(3) {
		background-color: var(--couleur-secondaire);
		padding-top: 2rem;
	}
	section:nth-child(4) {
		background-color: var(--couleur-secondaire);
		/* height: 4rem; */
	}
	.footer__container {
		position: relative;
		display: flex;
		justify-content: space-around;
		padding-bottom: 2rem;
            background-color: var(--couleur-secondaire);
	}
	.footer__feuille {
		position: absolute;
		height: 28rem;
		top: -17rem;
	}
	div:nth-child(odd) {
		padding-top: 2rem;
	}
	.footer__container--horaire {
		display: flex;
		flex-direction: column;
	}

	.footer__container--horaire span:nth-child(1) {
		color: var(--couleur-primaire);
		text-align: center;
	}
	.footer__container--horaire span:nth-child(even) {
		color: var(--couleur-tertiaire);
	}
	.padding {
		padding: 0.5rem;
	}
	.footer__container--adresse {
		display: flex;
		flex-direction: column;
		text-align: center;
		img {
			height: 80px;
			width: 80px;
		}
		span:nth-child(2) {
			color: var(--couleur-primaire);
		}
	}
	.footer__container--contact {
		display: flex;
		flex-direction: column;
		text-align: center;
		color: white !important;
		img {
			height: 40px;
		}
		a {
			text-decoration: none;
		}

		a.footer__buttonContact {
			padding: 1rem;
			border: 3px solid yellow;
			color: white;
		}
	}
	.padding--spec {
		padding: 1.5rem;
	}
	.footer__top--bleu {
		display: flex;
		padding: 1rem 1rem 1rem 1rem;
		align-items: center;
		justify-content: center;
		a{
			color: white;
		}
	}
	.footer__top--bleu  {
		a{
            padding: 0.5rem;
            margin: 0 0.5rem;
            color: white;
            border-bottom: transparent 3px solid;
      }
      a:hover{
            color: yellow;}
			div{
				  ul{
						
						display: flex;
							  li{
									list-style: none;
										  &:nth-last-child(1){
													  
													  color: #10B1B9;
												 }
										  
							  }
				  }
			}
	  
	}
	.footer__top--bleu span:nth-child(3) {
		color: var(--couleur-primaire);
	}
}


@media (max-width:867px) {
      .cmtp{
            header{
                  .bandeau__child:nth-child(1){
                        display: block;
                  }
                  .bandeau__child:nth-child(2){
                        display: none;
                  }
            }
            nav{
                  justify-content: flex-end;
                  .burger--logo{
                        display: none;
                  }
            }
            footer{
                  font-size: 0.8rem;
                  .footer__container--contact {
                        small a:active{
                              color: rgb(255, 64, 64);
                        }
                  }
                  span.padding{
                        font-size: 1rem;
                  }
            }
            .section__cmtp{
                  padding-top: 3.8rem;
            }
      }
}