@charset "UTF-8";
.main__container--page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__container--page section.header--page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  /* height: 70vh; */
  background-size: cover;
  background-position: bottom;
}

.main__container--page .header--page h1 {
  color: white;
  font-size: 3rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.main__container--page .container__bandeau--page {
  color: white;
  font-size: 1.5rem;
  width: 100%;
  /* height: 60%; */
  background-color: rgba(7, 69, 89, 0.4);
  padding-top: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__container--page .container__bandeau--page img {
  position: absolute;
  width: 27rem;
  top: -0.5rem;
}

.main__container--page .container__bandeau--2--page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-auto-flow: row;
      grid-template-areas: "texte carré";
}

.main__container--page .texte--page {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: texte;
  width: 100%;
  text-align: right;
  font-size: 2.4rem;
  padding: 1rem;
}

.main__container--page .carré--page {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: carré;
  padding: 2rem 2rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__container--page div.texte--page h2:nth-child() {
  padding-top: 1rem;
}

.main__container--page div.texte--page h2:nth-child(even) {
  color: var(--couleur-tertiaire);
}

.main__container--page span#carré--page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 2rem 2rem 2rem;
  background-color: var(--couleur-secondaire);
  font-size: 24px;
  color: white !important;
  /*  position: relative; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__container--page span#carré p {
  padding-top: 2rem;
}

.main__container--produits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__container--produits section.header--produits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(7, 69, 89, 0.49);
  width: 100%;
  height: auto;
  /* height: 70vh; */
  background-size: cover;
  background-position: bottom;
}

.main__container--produits div.produits-separateur {
  height: 2rem;
  width: 100%;
  background-color: rgba(254, 207, 52, 0.56);
}

.main__container--produits .container__bandeau--produits {
  color: white;
  font-size: 1.5rem;
  width: 100%;
  background-color: rgba(7, 69, 89, 0.4);
  padding-top: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__container--produits .container__bandeau--produits img {
  position: absolute;
  width: 27rem;
  top: -0.5rem;
}

.main__container--produits .container__bandeau--2--produits {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-auto-flow: row;
      grid-template-areas: "texte carré";
}

.main__container--produits .texte--produits {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: texte;
  width: 100%;
  text-align: right;
  font-size: 2.4rem;
  padding: 1rem;
}

.main__container--produits .carré--produits {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: carré;
  padding: 2rem 2rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__container--produits div.texte--produits h2:nth-child() {
  padding-top: 1rem;
}

.main__container--produits div.texte--produits h2:nth-child(even) {
  color: var(--couleur-tertiaire);
}

.main__container--produits span#carré--produits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 2rem 2rem 2rem;
  background-color: var(--couleur-secondaire);
  font-size: 24px;
  color: white !important;
  /*  position: relative; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.main__container--produits span#carré p {
  padding-top: 2rem;
}

section.produits {
  z-index: 99;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  background-color: #fcc92313;
}

section.produits div.wp-block-media-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: 2rem 5rem 5rem 5rem;
  background-color: rgba(16, 177, 185, 0.2);
  border: solid 2px var(--couleur-primaire);
}

section.produits div.wp-block-media-text__content p {
  width: 100%;
  margin: auto;
  /* padding: 1.5rem 1.5rem 1.5rem 1.5rem; */
  text-align: center;
}

section.produits div.wp-block-media-text__content img {
  width: 100%;
  height: auto;
  margin: auto;
  border: var(--couleur-tertiaire) 2px solid;
}
/*# sourceMappingURL=produits.css.map */